In [1]:
with open("GDS5420.soft","r") as f:
    with open("GDS5420.txt","w") as output:
        flg = 0
        for line in f:
            if line == "!dataset_table_end\n":
                break
            
            if flg == 1:
                output.write(line)
            
            if line == "!dataset_table_begin\n":
                print("found!")
                flg = 1

found!

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

dataset = pd.read_table("GDS5420.txt")
dataset = dataset.replace(np.nan,0)

id_ref = dataset["ID_REF"]

id_ref_num = []
num_list = ["0","1","2","3","4","5","6","7","8","9"]
id_except = 200

for tmp in id_ref:
    tmp_list = tmp.split("_")
    tmp_first = tmp_list[0]
    
    if tmp_first[0] in num_list:
        id_ref_num.append(tmp_first)
    
    else:
        id_ref_num.append(str(id_except))
        id_except+=1
        


dataset.insert(1,"ID_REF_NUM", id_ref_num)
dataset_delta_control = dataset[dataset["IDENTIFIER"] != "--Control"]
dataset_delta_control.to_csv("GDS5420.csv")

/home/ksuga/.pyenv/versions/3.7.0/envs/attention/lib/python3.7/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [14]:
raw_data = pd.read_csv("GDS5420.csv")
processed_data = raw_data.set_index("ID_REF_NUM")
processed_data = processed_data.drop(['Unnamed: 0','ID_REF','IDENTIFIER'], axis = 1)
processed_data.head()

,GSM1296094,GSM1296119,GSM1296076,GSM1296092,GSM1296103,GSM1296078,GSM1296107,GSM1296109,GSM1296080,GSM1296090,...,GSM1296118,GSM1296114,GSM1296097,GSM1296106,GSM1296102,GSM1296122,GSM1296089,GSM1296083,GSM1296116,GSM1296085
ID_REF_NUM,,,,,,,,,,,,,,,,,,,,,
1007,3488.18,2877.57,1902.72,2691.68,3816.98,1644.34,2033.87,2407.92,3950.73,2419.14,...,3704.01,3391.56,3392.73,3766.24,3660.18,3220.99,3111.06,3493.47,2849.55,3666.43
1053,1333.90,741.73,509.74,632.79,1229.58,591.22,804.53,1012.13,758.18,496.59,...,408.79,456.75,820.23,738.52,667.23,485.36,483.72,627.90,640.32,410.34
117,413.55,302.41,106.28,141.98,295.15,134.46,212.25,475.46,289.35,195.44,...,202.94,167.89,232.88,303.78,273.87,225.06,189.56,366.58,212.86,77.63
121,104.60,122.46,209.40,164.42,236.94,106.50,184.22,198.48,152.43,224.77,...,148.45,168.32,186.93,102.01,216.38,126.70,87.16,209.30,216.24,249.39
1255,0.00,0.00,0.00,31.98,4.18,0.00,0.00,0.00,1.37,22.51,...,0.00,1.70,0.00,5.28,29.66,0.00,14.43,0.00,0.00,0.00

In [4]:
N = processed_data.values

In [5]:
N

array([[3488.18, 2877.57, 1902.72, ..., 3493.47, 2849.55, 3666.43],
       [1333.9 ,  741.73,  509.74, ...,  627.9 ,  640.32,  410.34],
       [ 413.55,  302.41,  106.28, ...,  366.58,  212.86,   77.63],
       ...,
       [4113.8 , 2852.17, 1820.96, ..., 1676.53, 1192.61,  732.69],
       [ 433.53,  437.61,  263.29, ...,   62.24,   91.47,   13.65],
       [ 239.57, 1095.65, 1051.33, ...,  120.81,  304.76,  123.12]])

In [6]:
N.shape

(54623, 99)

In [7]:
corr = np.corrcoef(N)

/home/ksuga/.pyenv/versions/3.7.0/envs/attention/lib/python3.7/site-packages/numpy/lib/function_base.py:2559: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/home/ksuga/.pyenv/versions/3.7.0/envs/attention/lib/python3.7/site-packages/numpy/lib/function_base.py:2560: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]

In [17]:
l = processed_data.index

Int64Index([1007, 1053, 117, 121, 1255, 1294, 1316, 1320, 1405, 1431], dtype='int64', name='ID_REF_NUM')

In [28]:
with open("GDS5420_co-exp.txt","w") as out_data:
    for i in range(len(l)):
        for j in range(i):
            if corr[i][j] >= 0.9:
                g1 = l[i]
                g2 = l[j]
                out_data.write(str(g1) + " " + str(g2)+"\n")

In [ ]:
14:52-